{% extends 'BLOG/base.html' %}
{% block content %}
  <h1 class="text-primary m-4">About Page</h1>
  <div class="password-reset-success-container my-4">
    <h3 class="text-info">About our development team</h3>
    <p>We, The Djangalactic Team, is a passionate team focused on
      developing online social platforms to let people tell their
      story, or maybe share your knowledge with the world.</p>
  </div>
  <div class="password-reset-success-container my-4">
    <h3 class="text-info">About Djangalactic Blog</h3>
    <p>Djangalactic Blog is a <strong>Social Blog Platform</strong>
    created for you to share your blogs which can include many topic
    such as comedy, fiction, educational or maybe just a blog about
    yourself. Feel free to share what you want and learn new people.</p>
  </div>
  <div class="password-reset-success-container my-4">
    <h3 class="text-info">How to use our Blog</h3>
    <p>When you first come to our page it might feel different
      from other blogs you are familiar with, so we composed a
      proper guide as how to navigate in our blog and write Blogs
      effortlessly.</p>

      <div class="px-2 py-3">
        <h5 class="text-secondary">To Login:</h5>
        <ul>
          <li>If you are logged out, click <strong>Login</strong>
          on the Navigation Bar at the top of the Website. This
          will direct you to the login page</li>
          <li>From there fill out the form and make sure to write
          your username case sensitively and press Log in to log in</li>
          <li>If the login process fails, you will either be notified or nothing will
          happen. If you entered the credentials correctly you will login
          and will be redirected to the home page</li>
          <li>If you forgot your password, you can click to <strong>
          Forgot Password</strong> to start the password reset process.
          Keep in mind that you need to have an email connected to
          your account to receive instructions. If you don't have an
          email connected to your account, contact us at <strong>
          DjangalacticTeam@gmail.com</strong> and ask for an account
          recovery.</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To Register:</h5>
        <ul>
          <li>If you want to create a new account click <strong>
          Register</strong> on the navigation Bar at the top of the
          Website. This will send you to the Register page</li>
          <li>From there fill the form and click <strong>Register
          </strong> to check oyur form. This will create an account
          and automatically log you in</li>
          <li>While filling the form, make sure to:</li>
          <ul>
            <li>enter your email if you ever need to recover your account</li>
            <li>meet all the requirements stated under the password field</li>
            <li>pick a unique profile picture if you want to be recognized</li>
          </ul>
          <li>If the register process fails, you will either be notified or nothing will
          happen. If you entered the credentials correctly you will create an account andlogin
          and will be redirected to the home page</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To Log Out:</h5>
        <ul>
          <li>If you ever want to log out from your currently logged
          in account for any reason, click <strong>Logout</strong> on
          the Navigation Bar at the top of the Website. This will log
          you out and will redirect you to the home page
          </li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To go back to Home Page:</h5>
        <ul>
          <li>To return back to the home page, you can click <strong>Home</strong>
          on the Navigation Bar at the top of the Website</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To see more details about a post:</h5>
        <ul>
          <li>To see more details about a post simply click on the
          post and you will be directed to a page where you can see more
          details about the post, read comments and give the post a like</li>
          <li>If you are not logged in, you can't comment or like the post</li>
          <li>If you are the owner of the post, you can use the 
          details page to edit or delete your post</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To comment under a post:</h5>
        <ul>
          <li>To like a comment under a post navigate to the post you want
          want to comment under and click on it</li>
          <li>There you can find a field for commenting. Write a
          comment and click <strong>Post</strong> to comment</li>
          <li>If this field doesn't exist, it means you aren't logged
          in and thus cannot comment a post. To post a comment, create an account</li>
          <p><i>Tip:</i> You can't delete a comment once you post it</p>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To like a post:</h5>
        <ul>
          <li>To like a post, navigate to the post and click on it.
          This will bring you to the detailed blog page.</li>
          <li>If you are logged in, there will be a button to like the post</li>
          <li>To un-like the post, click the like button again. You should
          see the like count go down</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To see your profile:</h5>
        <ul>
          <li>To see your profile click <strong>Profile</strong>
          to navigate to the Profile page. You have to be logged
          in to enter this page.</li>
          <li>In the page you can see personal info as well as
          private info about your account. To edit these information
          click on <strong>Edit Profile</strong> button at the bottom
          of the profile page. There you can alter or add info in
          account. To save click <strong>Update Profile</strong></li>
          <li>If you enter illegal info, you will either get an error
          or nothing will happen. If you enter correct info you will
          be directed to the profile page</li>
        </ul>
      </div>
      <div class="px-2 py-3">
        <h5 class="text-secondary">To Post a Blog:</h5>
        <ul>
          <li>To post a new blog click <strong>New Post</strong> on
          the Navigation Bar at the top of the Website. You will be
          redirected to a form</li>
          <li>From there fill out your Blog form with the appropriate
          info and click <strong>Post</strong> button at the bottom
          of the page</li>
          <li>You can choose your Post to be Published, which will let
          make it public. Or you can make it a Draft and only you will
          be able to see your drafts on the home page. You can later
          <strong>Edit</strong> them and make them public</li>
          <li>You don't have to add an image but it is highly recommended
          that you do.</li>
        </ul>
      </div>
  </div>
  {% endblock content %}