{% extends 'BLOG/BASE.html' %}
{% block content %}
<div class="home-container">
  <h1 class="HomePage-Title text-secondary">Djangalactic Blog</h1>
  <div class="HomeFeed">
    {% for post in posts %}
    <div class="card" style="width: 18rem; margin: 5px 2px;">     
      <img class="card-img-top" src="/media/{{post.image}}" alt="post pic">
      <a class="blog-title" href="{% url 'post_detail' post.id %}">
      <div class="BlogCardContent">
        {{post.title}}</a>
        <div class="blog-publisher-container">
          <img class="img" style="border-radius: 10px;" src="/media/{{post.publisher.profile_pic}}" alt="publisher pic" width="30px">
          <h4>{{post.publisher.username}}</h4>
        </div>
      </div>
      <ul class="list-group list-group-flush BlogCardContent">
        <div class="Blog-likes-comments-views-container">
          <div class="Blog-likes-comments-views"><i class="far fa-heart"></i>
            <p>{{post.likes.count}}</p></div>
          <div class="Blog-likes-comments-views"><i class="fas fa-eye"></i>
            <p>{{post.views}}</p></div>
          <div class="Blog-likes-comments-views"><i class="fas fa-comment-alt"></i>
            <p>{{post.comments.count}}</p></div>
        </div>
        <code>{{post.post_date | timesince}}</code>
      </ul>
    </div>
    {% endfor %}
  </div>
  
  {% if drafts %}  
  <h1 class="text-secondary draft_title">Drafts</h1>
  <h6 class="text-secondary">Only visible for you</h6>
  <div class="HomeFeed">
    {% for draft in drafts %}
    <div class="card" style="width: 18rem; margin: 5px 2px;">     
      <img class="card-img-top" src="/media/{{draft.image}}" alt="post pic">
      <a class="blog-title" href="{% url 'post_detail' draft.id %}">
      <div class="BlogCardContent">
        {{draft.title}}</a>
        <div class="blog-publisher-container">
          <img class="img" style="border-radius: 10px;" src="/media/{{draft.publisher.profile_pic}}" alt="publisher pic" width="30px">
          <h4>{{draft.publisher.username}}</h4>
        </div>
      </div>
      <ul class="list-group list-group-flush BlogCardContent">
        <div class="Blog-likes-comments-views-container">
          <div class="Blog-likes-comments-views"><i class="far fa-heart"></i>
            <p>{{draft.likes.count}}</p></div>
          <div class="Blog-likes-comments-views"><i class="fas fa-eye"></i>
            <p>{{draft.views}}</p></div>
          <div class="Blog-likes-comments-views"><i class="fas fa-comment-alt"></i>
            <p>{{draft.comments.count}}</p></div>
        </div>
        <code>{{draft.post_date | timesince}}</code>
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}