{% extends 'BLOG/base.html' %}
{% block content %}
  <h1>Djangalactic Blog</h1>
  <div>
    {% for post in posts %}
      <a href="{% url 'post_detail' post.id %}">
        <div>
          <img src="/media/{{post.image}}" alt="post pic" width="300px">
        </div>
        <div>
          <img src="/media/{{post.publisher.profile_pic}}" alt="publisher pic" width="30px">
          <h4>{{post.publisher.username}}</h4>
        </div>
        <div>
          <h3>{{post.title}}</h3>
          <code>{{post.post_date | timesince}}</code> {#%  not done  %#}
        </div>
        <div>
          <div><p>likes</p><p>{{post.likes}}</p></div>
          <div><p>views</p><p>{{post.views}}</p></div>
          <div><p>comments</p><p>{{post.comments.count}}</p></div>
        </div>
      </a>
      <hr>
    {% endfor %}
  </div>
{% endblock content %}