{% extends 'BLOG/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if request.user.is_authenticated %}
<h4>You are already logged in</h4>

{%else%}  
<h2>Login</h2>
<form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  {{ form | crispy }}
  <div>
    <button type="submit" class="btn btn-info">Log In</button>
    <a href="{% url 'password_reset' %}">Forgot Password?</a>
  </div>
</form>
<div>
  <p>Need an account?</p>
  <a href="{% url 'register' %}">Sign up Now</a>
</div>

{%endif%}
{% endblock content %}