{% extends 'BLOG/base.html' %}
{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
<div>

  <div>
    <img src="{{user.profile_pic.url}}" alt="Profile Picture" style="width:150px">
  </div>

  <div>
    <h4>{{user.username}}</h4>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email:{{user.email}}</p>
  </div>
  <div>
    <p>Account Creation Date: {{user.date_joined}}</p>
  </div>
  <div>
    <p>{{user.bio}}</p>
  </div>
</div>
<div>
  <a class="btn btn-info" href="{% url 'edit_profile' user.id %}">Edit Profile</a>
</div>


{%else%}
<h1>You are not logged in</h1>

{%endif%}
{% endblock content %}